<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />

</head>
<header>
	<nav class="blue">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Listagem de Palestras</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="cadastrar" class="waves-effect waves-light btn">
						<i class="material-icons left">add_circle_outline</i>Cadastrar Palestra</a></li>
			</ul>
		</div>
	</nav>
</header>


<body>
	<div class="container">

		<table class="container">
			<thead>
				<tr>
					<th>Nome </th>
					<th>Local </th>
					<th>Data</th>
					<th>Hora</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="palestra:${palestras}">
				<td><a th:href="${(#mvc.url('EC#buscarPalestra').arg(0,palestra.id)).build()}"> 
					<span th:text="${palestra.nome}"></span></a></td>
				<td><span th:text="${palestra.local}"></span></td>
				<td><span th:text="${palestra.data}"></span></td>
				<td><span th:text="${palestra.hora}"></span></td>
				</tr>
			</tbody>
		</table>

	</div>
	<script type="text/javascript" src="materialize/js/materialize.min.js">

	</script>


</body>

</html>